# Overview

- Explore the data for missing, duplicate, or nonsensical value
- Create visualization to convey insights to each columns
- Run statistical testing
- Interpret viz and stat for modeling strategies

## Libraries Import

In [1]:
import pandas as pd # pandas for DataFrame data structure 
import numpy as np # numpy for calculation, especially vectorization if necessary
import os # importing OS might be necessary to read files depending on your setup

## Data Overview

Pandas is an excellent library for processing any tabulated or similar data. It offers phenomenal out of the box functionality for data structure, analysis, visualization, and many more. It is based on numpy making the data processing extremely fast, at least in terms of python, and has become an industry standard in data science. Many libraries that will be used in this notebook and other tutorials in this series also support pandas streamlining many tasks to come.

In [20]:
df = pd.read_csv('..\data\Emissions_Canada.csv') # import the csv file as DataFrame
df.head() # print the head (top 5 rows) to preview the data

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

***
### Data Cleaning

The first step to any EDA should be checking the completeness of the dataset. If any missing data or obvious outliers are found we can strategize on how to replace or even remove parts of the dataset.

In [11]:
df.isnull().sum() # chaining isnull with sum methods will provide the total count of missing or null data points on each column

Make                                0
Model                               0
Vehicle Class                       0
Engine Size(L)                      0
Cylinders                           0
Transmission                        0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
Fuel Consumption Comb (mpg)         0
CO2 Emissions(g/km)                 0
dtype: int64

Looks like the dataset we are dealing with is very clean thanks to Mr. Debajyoti Podder!

### Organizing the Columns

Keeping a consistent, clean, and concise naming scheme of the DataFrame columns is a very important aspect that is often overlooked. First, the columns should be clear in delivering the summary of the data that it contains. Second, the columns should be named in a single line of string, connected with underscores if necessary, to take advantage of using the column name as the attribute of the DataFrame. See the example below for my 2nd point.

In [12]:
df.columns # prints all column names

Index(['Make', 'Model', 'Vehicle Class', 'Engine Size(L)', 'Cylinders',
       'Transmission', 'Fuel Type', 'Fuel Consumption City (L/100 km)',
       'Fuel Consumption Hwy (L/100 km)', 'Fuel Consumption Comb (L/100 km)',
       'Fuel Consumption Comb (mpg)', 'CO2 Emissions(g/km)'],
      dtype='object')

In [13]:
df.Make # this should print Makes of each index (rows)

0       ACURA
1       ACURA
2       ACURA
3       ACURA
4       ACURA
        ...
7380    VOLVO
7381    VOLVO
7382    VOLVO
7383    VOLVO
7384    VOLVO
Name: Make, Length: 7385, dtype: object

In [14]:
df.Make.unique() # this should print an array of unique brand names

array(['ACURA', 'ALFA ROMEO', 'ASTON MARTIN', 'AUDI', 'BENTLEY', 'BMW',
       'BUICK', 'CADILLAC', 'CHEVROLET', 'CHRYSLER', 'DODGE', 'FIAT',
       'FORD', 'GMC', 'HONDA', 'HYUNDAI', 'INFINITI', 'JAGUAR', 'JEEP',
       'KIA', 'LAMBORGHINI', 'LAND ROVER', 'LEXUS', 'LINCOLN', 'MASERATI',
       'MAZDA', 'MERCEDES-BENZ', 'MINI', 'MITSUBISHI', 'NISSAN',
       'PORSCHE', 'RAM', 'ROLLS-ROYCE', 'SCION', 'SMART', 'SRT', 'SUBARU',
       'TOYOTA', 'VOLKSWAGEN', 'VOLVO', 'GENESIS', 'BUGATTI'],
      dtype=object)

As you might have guessed, the two operations above is not possible with some of the columns, but there are workarounds.

In [15]:
df.Fuel Type # this will throw a syntax error due to the blank space

SyntaxError: invalid syntax (<ipython-input-15-e32c2a8d2608>, line 1)

In [16]:
df['Fuel Type'] # a work around is possible by slicing the DataFrame with the column name as a string

0       Z
1       Z
2       Z
3       Z
4       Z
       ..
7380    Z
7381    Z
7382    Z
7383    Z
7384    Z
Name: Fuel Type, Length: 7385, dtype: object

Taking some time now to rename these columns will save a lot more time down the line. Also, in this data set there are duplicate columns for combined fuel consumptions where one is provided in L/100km and the other in mpg. I'm going to drop the mpg column to reduce the dataset size and keep the trend of metric units within the dataset.

In [21]:
# dropping the mpg column

df.drop(labels='Fuel Consumption Comb (mpg)', axis=1, inplace=True)
df.head() # no more mpg columns

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,244

In [23]:
# rename the columns
# use lowercase letters only
# drop any references to units
# connect words with underscores or simplify to a single word
# making new variable for column_names will be cleaner

column_names = ['make', 'model', 'class', 'engine_size', 'cylinders',
       'transmission', 'fuel_type', 'fuel_consumption_city',
       'fuel_consumption_hwy', 'fuel_consumption_comb', 'emissions']

df.columns = column_names
df.head() #columns should be changed

,make,model,class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb,emissions
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,244

In [24]:
df.fuel_type # now this should print with no error!

0       Z
1       Z
2       Z
3       Z
4       Z
       ..
7380    Z
7381    Z
7382    Z
7383    Z
7384    Z
Name: fuel_type, Length: 7385, dtype: object

***

### Details on Model, Transmission, and Fuel Type Columns

As provided on the [kaggle](https://www.kaggle.com/debajyotipodder/co2-emission-by-vehicles) values within these columns belows can be broken down to the following:

#### Model

- 4WD/4X4 = Four-wheel drive
- AWD = All-wheel drive
- FFV = Flexible-fuel vehicle
- SWB = Short wheelbase
- LWB = Long wheelbase
- EWB = Extended wheelbase

#### Transmission
***PREFIX***
- A = Automatic
- AM = Automated manual
- AS = Automatic with select shift
- AV = Continuously variable
- M = Manual
***NUMERICAL SUFFIX***
- 3 - 10 = Number of gears

#### Fuel Type
- X = Regular gasoline
- Z = Premium gasoline
- D = Diesel
- E = Ethanol (E85)
- N = Natural gas

Let's dive deeper into each of these columns and see if we can formulate methods to clean or recategorize some of them. We will work backwards from the list above due to the high variety we will face in transmission and model.

In [25]:
# Fuel Type data integrity check

df.fuel_type.unique() # looks like there are no incorrect entry on this column

array(['Z', 'D', 'X', 'E', 'N'], dtype=object)

#### Transmission
Continous variable Transmission (CVT) are marked as AV**n** (**n** denoting the # gears) in this data set. However, as far as my understanding of CVT design goes, there are no "gears" in the transmission ([wikipedia](https://en.wikipedia.org/wiki/Continuously_variable_transmission) for reference). CVT is designed to continuously change the gear ratio depending on the engine output to provide a linear power output, hence the name. Although, there are certain settings to make CVT feel more like a traditional geared transmission or usage of clutch to quickly change the ratio it's hard to say what the number of gears should be in a given CVT. 

Perhaps, the numbers were used to denote the final gearing ratio of the CVT. Meaning that higher the number, more efficient the vehicle is at higher speed, but I cannot be certain of this information. Therefore, I will be changing all entries of AV**n** as CVT.

In [26]:
# Transmission

df.transmission.unique() #again the entry seems correct, but I see some issues

array(['AS5', 'M6', 'AV7', 'AS6', 'AM6', 'A6', 'AM7', 'AV8', 'AS8', 'A7',
       'A8', 'M7', 'A4', 'M5', 'AV', 'A5', 'AS7', 'A9', 'AS9', 'AV6',
       'AS4', 'AM5', 'AM8', 'AM9', 'AS10', 'A10', 'AV10'], dtype=object)

In [28]:
# this function will convert any entry containing 'AV' as 'CVT'
def transmission_clean(transmission):
    if 'AV' in transmission:
        return 'CVT'
    else:
        return transmission

In [32]:
df.transmission = df.transmission.apply(transmission_clean) # you can apply a function to the column with this syntax
df.transmission.unique() #now all AV entries should be changed to CVT

array(['AS5', 'M6', 'CVT', 'AS6', 'AM6', 'A6', 'AM7', 'AS8', 'A7', 'A8',
       'M7', 'A4', 'M5', 'A5', 'AS7', 'A9', 'AS9', 'AS4', 'AM5', 'AM8',
       'AM9', 'AS10', 'A10'], dtype=object)