In [1]:
import pandas as pd # pandas for DataFrame data structure 
import numpy as np # numpy for calculation, especially vectorization if necessary
import os # importing OS might be necessary to read files depending on your setup

In [3]:
df = pd.read_csv('..\data\Emissions_Clean.csv', index_col=0) # import the csv file as DataFrame
df.head() # print the head (top 5 rows) to preview the data

,make,model,engine_size,transmission,cylinders,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb,emissions
0,ACURA,ILX,2.0,AS5,4.0,9.80,6.70,8.40,193.5
1,ACURA,ILX,2.4,AM8,4.0,9.58,6.84,8.34,194.2
2,ACURA,ILX,2.4,M6,4.0,11.00,7.55,9.45,217.5
3,ACURA,ILX HYBRID,1.5,CVT,4.0,6.00,5.95,6.00,138.0
4,ACURA,MDX 4WD,3.5,AS6,6.0,12.70,9.10,11.10,255.0