In [1]:
import pandas as pd # pandas for DataFrame data structure 
import numpy as np # numpy for calculation, especially vectorization if necessary
import os # importing OS might be necessary to read files depending on your setup

In [2]:
df = pd.read_csv('..\data\Emissions_Clean.csv', index_col=0) # import the csv file as DataFrame
df.head() # print the head (top 5 rows) to preview the data

,make,model,engine_size,transmission,cylinders,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb,emissions
0,ACURA,ILX,2.0,AS5,4.0,9.80,6.70,8.40,193.5
1,ACURA,ILX,2.4,AM8,4.0,9.58,6.84,8.34,194.2
2,ACURA,ILX,2.4,M6,4.0,11.00,7.55,9.45,217.5
3,ACURA,ILX HYBRID,1.5,CVT,4.0,6.00,5.95,6.00,138.0
4,ACURA,MDX 4WD,3.5,AS6,6.0,12.70,9.10,11.10,255.0

In [10]:
df.groupby(['make']).mean()['fuel_consumption_city'].sort_values()

make
SMART             7.112500
FIAT              9.250000
MAZDA             9.379601
SCION             9.409091
MINI              9.566534
HONDA             9.578297
MITSUBISHI        9.667061
VOLKSWAGEN       10.019262
HYUNDAI          10.024580
KIA              10.057588
TOYOTA           10.583910
SUBARU           10.815489
ACURA            10.978333
ALFA ROMEO       11.059375
BUICK            11.268429
NISSAN           11.424240
LEXUS            11.440661
VOLVO            11.624517
INFINITI         12.359669
BMW              12.455925
JEEP             12.482101
PORSCHE          12.568481
AUDI             12.632128
CHEVROLET        13.269758
LINCOLN          13.273198
FORD             13.350711
JAGUAR           13.456439
CADILLAC         13.489551
CHRYSLER         13.592037
GENESIS          13.787500
MERCEDES-BENZ    13.824118
LAND ROVER       14.129733
RAM              14.392675
DODGE            15.028006
GMC              15.213637
MASERATI         15.810278
ASTON MARTIN     17.257576
BENTLEY          18.952955
SRT              20.000000
ROLLS-ROYCE      20.072826
LAMBORGHINI      20.577536
BUGATTI          26.800000
Name: fuel_consumption_city, dtype: float64